<a href="https://colab.research.google.com/github/aalexakos/thesis-smart-grids/blob/alex/campare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import datetime
import time
import numpy as np
from ast import literal_eval

pd.set_option('max_rows', 99999)
pd.set_option('max_colwidth', 400)
pd.describe_option('max_colwidth')

display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 400]

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
!ls /content/drive/MyDrive/datasets

1620864000000_661403b2-9177-4451-a7d9-9ab3df7ea756.csv
1621036800000_e20fcd7d-9c61-4cc0-ad0a-1bda8ddbdd0d.csv
1621123200000_39c690cb-82a1-4be0-989b-3fd9a44601c0.csv

In [2]:
#---------------------data from ai prediction-----------------------
csv=('/content/drive/MyDrive/datasets/1622246400000_a404a4bd-93e5-407b-9a43-514e3608160b.csv') 

df=pd.read_csv(csv)
true_irradiance=df.loc[df['sensor_id'] == 'irradiance']

#add human time in the dataframe
true_irradiance['datetime']=(pd.to_datetime(true_irradiance['timestamp'],unit='ms'))

#sort data frame based in epoch time
true_irradiance=true_irradiance.sort_values('timestamp')

#round datetime to the closest hour in order to compare to my data
true_irradiance['datetime'] = true_irradiance['datetime'].dt.ceil('h')

#round timestamp to closest hour based in datetime
true_irradiance['timestamp'] = true_irradiance['datetime'].astype('int64')

#removing milliseconds from timestamp
true_irradiance['timestamp']=true_irradiance['timestamp'].floordiv(1000000000)

#seperated device id
true_irradiance = true_irradiance.pivot_table(index=['gateway_id',	'sensor_id',	'timestamp', 'deployment_id',	'datetime'], columns='device_id' ,values='value', aggfunc='first').reset_index()
true_irradiance.reset_index(drop=True, inplace=True)
true_irradiance

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

device_id                      gateway_id   sensor_id  ...  meteo-J02 meteo-J04
0          HELIOS_mapper-p2z7tix9jogx0yxl  irradiance  ...       1.61     20.03
1          HELIOS_mapper-p2z7tix9jogx0yxl  irradiance  ...      34.94     33.25
2          HELIOS_mapper-p2z7tix9jogx0yxl  irradiance  ...     110.76    178.92
3          HELIOS_mapper-p2z7tix9jogx0yxl  irradiance  ...     324.67    411.44
4          HELIOS_mapper-p2z7tix9jogx0yxl  irradiance  ...     541.07    632.18
5          HELIOS_mapper-p2z7tix9jogx0yxl  irradiance  ...     732.54    825.60
6          HELIOS_mapper-p2z7tix9jogx0yxl  irradiance  ...     880.22    947.02
7          HELIOS_mapper-p2z7tix9jogx0yxl  irradiance  ...     962.31   1009.11
8          HELIOS_mapper-p2z7tix9jogx0yxl  irradiance  ...     968.35    988.60
9          HELIOS_mapper-p2z7tix9jogx0yxl  irradiance  ...     909.59    904.01
10         HELIOS_mapper-p2z7tix9jogx0yxl  irradiance  ...     781.78    754.11
11         HELIOS_mapper-p2z7tix9jogx0yxl  irradiance  ...     604.70    554.20
12         HELIOS_mapper-p2z7tix9jogx0yxl  irradiance  ...     383.56    319.18
13         HELIOS_mapper-p2z7tix9jogx0yxl  irradiance  ...     168.48    105.29
14         HELIOS_mapper-p2z7tix9jogx0yxl  irradiance  ...      26.90     27.10
15         HELIOS_mapper-p2z7tix9jogx0yxl  irradiance  ...       1.63      0.22
16         HELIOS_mapper-p2z7tix9jogx0yxl  irradiance  ...       0.55      0.04
17         HELIOS_mapper-p2z7tix9jogx0yxl  irradiance  ...       0.53      0.02
18         HELIOS_mapper-p2z7tix9jogx0yxl  irradiance  ...       0.53      0.00

[19 rows x 8 columns]

In [3]:
#------------------radiation from openweathermap forecast prediction----------------------
csv=('/content/drive/MyDrive/datasets/dailyRadiationForecast28052021.csv') 

openweathermap=pd.read_csv(csv,index_col=0)


#add human time in the dataframe
openweathermap['datetime']=(pd.to_datetime(openweathermap['dt'],unit='s'))
openweathermap = openweathermap.rename({'dt': 'timestamp'}, axis=1)

openweathermap.radiation=openweathermap.radiation.apply(literal_eval)
value = [d.get('ghi') for d in openweathermap.radiation]
openweathermap['radiation']=pd.DataFrame({'radiation':value})
openweathermap

     radiation   timestamp            datetime
0       169.51  1622178000 2021-05-28 05:00:00
1       364.82  1622181600 2021-05-28 06:00:00
2       561.58  1622185200 2021-05-28 07:00:00
3       737.97  1622188800 2021-05-28 08:00:00
4       877.38  1622192400 2021-05-28 09:00:00
5       967.49  1622196000 2021-05-28 10:00:00
6      1000.57  1622199600 2021-05-28 11:00:00
7       973.80  1622203200 2021-05-28 12:00:00
8       889.47  1622206800 2021-05-28 13:00:00
9       754.82  1622210400 2021-05-28 14:00:00
10      581.73  1622214000 2021-05-28 15:00:00
11      386.35  1622217600 2021-05-28 16:00:00
12      189.77  1622221200 2021-05-28 17:00:00
13       26.57  1622224800 2021-05-28 18:00:00
14        0.00  1622228400 2021-05-28 19:00:00
15        0.00  1622232000 2021-05-28 20:00:00
16        0.00  1622235600 2021-05-28 21:00:00
17        0.00  1622239200 2021-05-28 22:00:00
18        0.00  1622242800 2021-05-28 23:00:00
19        0.00  1622246400 2021-05-29 00:00:00
20        0.00  1622250000 2021-05-29 01:00:00
21        0.00  1622253600 2021-05-29 02:00:00
22        0.00  1622257200 2021-05-29 03:00:00
23       15.08  1622260800 2021-05-29 04:00:00
24      169.67  1622264400 2021-05-29 05:00:00
25      364.75  1622268000 2021-05-29 06:00:00
26      561.30  1622271600 2021-05-29 07:00:00
27      738.56  1622275200 2021-05-29 08:00:00
28      877.91  1622278800 2021-05-29 09:00:00
29      968.03  1622282400 2021-05-29 10:00:00
30     1001.19  1622286000 2021-05-29 11:00:00
31      974.60  1622289600 2021-05-29 12:00:00
32      890.50  1622293200 2021-05-29 13:00:00
33      756.12  1622296800 2021-05-29 14:00:00
34      583.29  1622300400 2021-05-29 15:00:00
35      388.15  1622304000 2021-05-29 16:00:00
36      191.66  1622307600 2021-05-29 17:00:00
37       27.98  1622311200 2021-05-29 18:00:00
38        0.00  1622314800 2021-05-29 19:00:00
39        0.00  1622318400 2021-05-29 20:00:00
40        0.00  1622322000 2021-05-29 21:00:00
41        0.00  1622325600 2021-05-29 22:00:00
42        0.00  1622329200 2021-05-29 23:00:00
43        0.00  1622332800 2021-05-30 00:00:00
44        0.00  1622336400 2021-05-30 01:00:00
45        0.00  1622340000 2021-05-30 02:00:00
46        0.00  1622343600 2021-05-30 03:00:00
47       15.99  1622347200 2021-05-30 04:00:00
48      171.68  1622350800 2021-05-30 05:00:00
49      366.70  1622354400 2021-05-30 06:00:00
50      563.10  1622358000 2021-05-30 07:00:00
51      739.17  1622361600 2021-05-30 08:00:00
52      878.38  1622365200 2021-05-30 09:00:00
53      968.45  1622368800 2021-05-30 10:00:00
54     1001.57  1622372400 2021-05-30 11:00:00
55      974.99  1622376000 2021-05-30 12:00:00
56      888.35  1622379600 2021-05-30 13:00:00
57      217.73  1622383200 2021-05-30 14:00:00
58      158.49  1622386800 2021-05-30 15:00:00
59      118.27  1622390400 2021-05-30 16:00:00
60      108.93  1622394000 2021-05-30 17:00:00
61       19.38  1622397600 2021-05-30 18:00:00
62        0.00  1622401200 2021-05-30 19:00:00
63        0.00  1622404800 2021-05-30 20:00:00
64        0.00  1622408400 2021-05-30 21:00:00
65        0.00  1622412000 2021-05-30 22:00:00
66        0.00  1622415600 2021-05-30 23:00:00
67        0.00  1622419200 2021-05-31 00:00:00
68        0.00  1622422800 2021-05-31 01:00:00
69        0.00  1622426400 2021-05-31 02:00:00
70        0.00  1622430000 2021-05-31 03:00:00
71       12.04  1622433600 2021-05-31 04:00:00
72      111.13  1622437200 2021-05-31 05:00:00
73      214.90  1622440800 2021-05-31 06:00:00
74      313.78  1622444400 2021-05-31 07:00:00
75      664.43  1622448000 2021-05-31 08:00:00
76      770.96  1622451600 2021-05-31 09:00:00
77      853.75  1622455200 2021-05-31 10:00:00
78      885.40  1622458800 2021-05-31 11:00:00
79      872.54  1622462400 2021-05-31 12:00:00
80      797.10  1622466000 2021-05-31 13:00:00
81      740.82  1622469600 2021-05-31 14:00:00
82      569.50  1622473200 2021-05-31 15:00:00
83      384.22  1622476800 2021-05-31 16:00:00
84      193.25  1622480400 2021-05-31 17:00:00
85       30.59  1622484000 2021-05-31 18:00:00
86        0.00  1622487600 2021-05-31 19:00:00
87        0.00  1622491200 2021-05-31 20:00:00
88        0.00  1622494800 2021-05-31 21:00:00
89        0.00  1622498400 2021-05-31 22:00:00
90        0.00  1622502000 2021-05-31 23:00:00
91        0.00  1622505600 2021-06-01 00:00:00
92        0.00  1622509200 2021-06-01 01:00:00
93        0.00  1622512800 2021-06-01 02:00:00
94        0.00  1622516400 2021-06-01 03:00:00
95       17.36  1622520000 2021-06-01 04:00:00
96      173.49  1622523600 2021-06-01 05:00:00
97      368.22  1622527200 2021-06-01 06:00:00
98      564.26  1622530800 2021-06-01 07:00:00
99      740.12  1622534400 2021-06-01 08:00:00
100     879.26  1622538000 2021-06-01 09:00:00
101     969.41  1622541600 2021-06-01 10:00:00
102    1002.84  1622545200 2021-06-01 11:00:00
103     976.74  1622548800 2021-06-01 12:00:00
104     893.33  1622552400 2021-06-01 13:00:00
105     759.51  1622556000 2021-06-01 14:00:00
106     587.61  1622559600 2021-06-01 15:00:00
107     392.61  1622563200 2021-06-01 16:00:00
108     196.90  1622566800 2021-06-01 17:00:00
109      32.08  1622570400 2021-06-01 18:00:00
110       0.00  1622581200 2021-06-01 21:00:00
111       0.00  1622592000 2021-06-02 00:00:00
112       0.00  1622602800 2021-06-02 03:00:00
113     174.20  1622613600 2021-06-02 06:00:00
114     740.30  1622624400 2021-06-02 09:00:00
115    1003.11  1622635200 2021-06-02 12:00:00
116     760.71  1622646000 2021-06-02 15:00:00
117     197.74  1622656800 2021-06-02 18:00:00
118       0.00  1622667600 2021-06-02 21:00:00
119       0.00  1622678400 2021-06-03 00:00:00
120       0.00  1622689200 2021-06-03 03:00:00
121     174.83  1622700000 2021-06-03 06:00:00
122     740.52  1622710800 2021-06-03 09:00:00
123    1003.54  1622721600 2021-06-03 12:00:00
124     761.87  1622732400 2021-06-03 15:00:00
125     188.44  1622743200 2021-06-03 18:00:00
126       0.00  1622754000 2021-06-03 21:00:00
127       0.00  1622764800 2021-06-04 00:00:00
128       0.00  1622775600 2021-06-04 03:00:00
129     160.06  1622786400 2021-06-04 06:00:00
130     656.03  1622797200 2021-06-04 09:00:00
131     943.71  1622808000 2021-06-04 12:00:00
132     757.87  1622818800 2021-06-04 15:00:00
133     197.73  1622829600 2021-06-04 18:00:00
134       0.00  1622840400 2021-06-04 21:00:00
135       0.00  1622851200 2021-06-05 00:00:00
136       0.00  1622862000 2021-06-05 03:00:00
137     176.09  1622872800 2021-06-05 06:00:00
138     741.19  1622883600 2021-06-05 09:00:00
139    1004.55  1622894400 2021-06-05 12:00:00
140     764.26  1622905200 2021-06-05 15:00:00
141     203.78  1622916000 2021-06-05 18:00:00
142       0.00  1622926800 2021-06-05 21:00:00
143       0.00  1622937600 2021-06-06 00:00:00
144       0.00  1622948400 2021-06-06 03:00:00
145     176.63  1622959200 2021-06-06 06:00:00
146     741.48  1622970000 2021-06-06 09:00:00
147    1005.05  1622980800 2021-06-06 12:00:00
148     765.44  1622991600 2021-06-06 15:00:00
149     205.40  1623002400 2021-06-06 18:00:00
150       0.00  1623013200 2021-06-06 21:00:00
151       0.00  1623024000 2021-06-07 00:00:00
152       0.00  1623034800 2021-06-07 03:00:00
153     149.07  1623045600 2021-06-07 06:00:00
154     683.41  1623056400 2021-06-07 09:00:00
155    1005.30  1623067200 2021-06-07 12:00:00
156     765.18  1623078000 2021-06-07 15:00:00
157     203.49  1623088800 2021-06-07 18:00:00
158       0.00  1623099600 2021-06-07 21:00:00
159       0.00  1623110400 2021-06-08 00:00:00
160       0.00  1623121200 2021-06-08 03:00:00
161     169.70  1623132000 2021-06-08 06:00:00
162     722.68  1623142800 2021-06-08 09:00:00
163    1005.45  1623153600 2021-06-08 12:00:00
164     765.49  1623164400 2021-06-08 15:00:00
165     205.33  1623175200 2021-06-08 18:00:00
166       0.00  1623186000 2021-06-08 21:00:00
167       0.00  1623196800 2021-06-09 00:00:00
168       0.00  1623207600 2021-06-09 03:00:00
169     177.31  1623218400 2021-06-09 06:00:00
170     741.06  1623229200 2021-06-09 09:00:00
171     953.34  1623240000 2021-06-09 12:00:00
172     586.39  1623250800 2021-06-09 15:00:00
173     190.94  1623261600 2021-06-09 18:00:00
174       0.00  1623272400 2021-06-09 21:00:00
175       0.00  1623283200 2021-06-10 00:00:00
176       0.00  1623294000 2021-06-10 03:00:00
177      90.54  1623304800 2021-06-10 06:00:00
178     646.65  1623315600 2021-06-10 09:00:00
179    1006.10  1623326400 2021-06-10 12:00:00
180     769.34  1623337200 2021-06-10 15:00:00
181     211.13  1623348000 2021-06-10 18:00:00
182       0.00  1623358800 2021-06-10 21:00:00
183       0.00  1623369600 2021-06-11 00:00:00
184       0.00  1623380400 2021-06-11 03:00:00
185     177.75  1623391200 2021-06-11 06:00:00
186     737.49  1623402000 2021-06-11 09:00:00
187     285.20  1623412800 2021-06-11 12:00:00
188     359.21  1623423600 2021-06-11 15:00:00
189     103.79  1623434400 2021-06-11 18:00:00
190       0.00  1623445200 2021-06-11 21:00:00
191       0.00  1623456000 2021-06-12 00:00:00
192       0.00  1623466800 2021-06-12 03:00:00
193     177.64  1623477600 2021-06-12 06:00:00
194     740.85  1623488400 2021-06-12 09:00:00
195    1006.22  1623499200 2021-06-12 12:00:00
196     770.81  1623510000 2021-06-12 15:00:00
197     213.45  1623520800 2021-06-12 18:00:00

In [4]:
#------------------radiation from clima cell forecast prediction----------------------
csv=('/content/drive/MyDrive/datasets/dailyClimaCellForecast28052021.csv') 

climacell=pd.read_csv(csv,index_col=0)
climacell['startTime']

#add epoch time in the dataframe
climacell['timestamp']=climacell['startTime'].astype('datetime64[s]')
climacell['timestamp']=climacell['timestamp'].astype('int64')
#removing milliseconds from timestamp
climacell['timestamp']=climacell['timestamp'].floordiv(1000000000)


climacell.values=climacell['values'].apply(literal_eval)
value = [d.get('solarGHI') for d in climacell['values']]
climacell['values']=pd.DataFrame({'radiation':value})

climacell

                startTime  values   timestamp
0    2021-05-28T05:00:00Z  143.41  1622178000
1    2021-05-28T06:00:00Z  326.75  1622181600
2    2021-05-28T07:00:00Z  514.78  1622185200
3    2021-05-28T08:00:00Z  673.67  1622188800
4    2021-05-28T09:00:00Z  811.22  1622192400
5    2021-05-28T10:00:00Z  904.86  1622196000
6    2021-05-28T11:00:00Z  947.49  1622199600
7    2021-05-28T12:00:00Z  931.39  1622203200
8    2021-05-28T13:00:00Z  827.98  1622206800
9    2021-05-28T14:00:00Z  701.82  1622210400
10   2021-05-28T15:00:00Z  531.33  1622214000
11   2021-05-28T16:00:00Z  329.70  1622217600
12   2021-05-28T17:00:00Z  151.99  1622221200
13   2021-05-28T18:00:00Z   24.69  1622224800
14   2021-05-28T19:00:00Z    0.00  1622228400
15   2021-05-28T20:00:00Z    0.00  1622232000
16   2021-05-28T21:00:00Z    0.00  1622235600
17   2021-05-28T22:00:00Z    0.00  1622239200
18   2021-05-28T23:00:00Z    0.00  1622242800
19   2021-05-29T00:00:00Z    0.00  1622246400
20   2021-05-29T01:00:00Z    0.00  1622250000
21   2021-05-29T02:00:00Z    0.00  1622253600
22   2021-05-29T03:00:00Z    0.07  1622257200
23   2021-05-29T04:00:00Z   21.69  1622260800
24   2021-05-29T05:00:00Z  149.73  1622264400
25   2021-05-29T06:00:00Z  335.64  1622268000
26   2021-05-29T07:00:00Z  528.25  1622271600
27   2021-05-29T08:00:00Z  705.54  1622275200
28   2021-05-29T09:00:00Z  861.10  1622278800
29   2021-05-29T10:00:00Z  958.95  1622282400
30   2021-05-29T11:00:00Z  992.35  1622286000
31   2021-05-29T12:00:00Z  958.92  1622289600
32   2021-05-29T13:00:00Z  851.31  1622293200
33   2021-05-29T14:00:00Z  714.71  1622296800
34   2021-05-29T15:00:00Z  540.94  1622300400
35   2021-05-29T16:00:00Z  345.63  1622304000
36   2021-05-29T17:00:00Z  159.14  1622307600
37   2021-05-29T18:00:00Z   25.87  1622311200
38   2021-05-29T19:00:00Z    0.00  1622314800
39   2021-05-29T20:00:00Z    0.03  1622318400
40   2021-05-29T21:00:00Z    0.00  1622322000
41   2021-05-29T22:00:00Z    0.00  1622325600
42   2021-05-29T23:00:00Z    0.00  1622329200
43   2021-05-30T00:00:00Z    0.00  1622332800
44   2021-05-30T01:00:00Z    0.00  1622336400
45   2021-05-30T02:00:00Z    0.00  1622340000
46   2021-05-30T03:00:00Z    0.00  1622343600
47   2021-05-30T04:00:00Z   12.05  1622347200
48   2021-05-30T05:00:00Z   80.40  1622350800
49   2021-05-30T06:00:00Z  244.27  1622354400
50   2021-05-30T07:00:00Z  385.59  1622358000
51   2021-05-30T08:00:00Z  560.10  1622361600
52   2021-05-30T09:00:00Z  680.41  1622365200
53   2021-05-30T10:00:00Z  761.42  1622368800
54   2021-05-30T11:00:00Z  623.95  1622372400
55   2021-05-30T12:00:00Z  436.58  1622376000
56   2021-05-30T13:00:00Z  518.34  1622379600
57   2021-05-30T14:00:00Z  365.49  1622383200
58   2021-05-30T15:00:00Z  251.63  1622386800
59   2021-05-30T16:00:00Z  235.23  1622390400
60   2021-05-30T17:00:00Z  132.73  1622394000
61   2021-05-30T18:00:00Z   20.02  1622397600
62   2021-05-30T19:00:00Z    0.08  1622401200
63   2021-05-30T20:00:00Z    0.00  1622404800
64   2021-05-30T21:00:00Z    0.00  1622408400
65   2021-05-30T22:00:00Z    0.00  1622412000
66   2021-05-30T23:00:00Z    0.00  1622415600
67   2021-05-31T00:00:00Z    0.00  1622419200
68   2021-05-31T01:00:00Z    0.00  1622422800
69   2021-05-31T02:00:00Z    0.00  1622426400
70   2021-05-31T03:00:00Z    0.00  1622430000
71   2021-05-31T04:00:00Z   10.83  1622433600
72   2021-05-31T05:00:00Z   53.82  1622437200
73   2021-05-31T06:00:00Z  128.17  1622440800
74   2021-05-31T07:00:00Z  208.91  1622444400
75   2021-05-31T08:00:00Z  289.65  1622448000
76   2021-05-31T09:00:00Z  370.38  1622451600
77   2021-05-31T10:00:00Z  440.09  1622455200
78   2021-05-31T11:00:00Z  509.80  1622458800
79   2021-05-31T12:00:00Z  579.51  1622462400
80   2021-05-31T13:00:00Z  558.17  1622466000
81   2021-05-31T14:00:00Z  536.83  1622469600
82   2021-05-31T15:00:00Z  515.49  1622473200
83   2021-05-31T16:00:00Z  400.57  1622476800
84   2021-05-31T17:00:00Z  285.65  1622480400
85   2021-05-31T18:00:00Z  170.74  1622484000
86   2021-05-31T19:00:00Z  113.82  1622487600
87   2021-05-31T20:00:00Z   56.91  1622491200
88   2021-05-31T21:00:00Z    0.00  1622494800
89   2021-05-31T22:00:00Z    0.00  1622498400
90   2021-05-31T23:00:00Z    0.00  1622502000
91   2021-06-01T00:00:00Z    0.00  1622505600
92   2021-06-01T01:00:00Z    0.00  1622509200
93   2021-06-01T02:00:00Z    0.01  1622512800
94   2021-06-01T03:00:00Z    0.02  1622516400
95   2021-06-01T04:00:00Z  111.80  1622520000
96   2021-06-01T05:00:00Z  223.58  1622523600
97   2021-06-01T06:00:00Z  335.36  1622527200
98   2021-06-01T07:00:00Z  562.73  1622530800
99   2021-06-01T08:00:00Z  736.47  1622534400
100  2021-06-01T09:00:00Z  871.91  1622538000
101  2021-06-01T10:00:00Z  958.89  1622541600
102  2021-06-01T11:00:00Z  974.20  1622545200
103  2021-06-01T12:00:00Z  872.63  1622548800
104  2021-06-01T13:00:00Z  774.56  1622552400
105  2021-06-01T14:00:00Z  750.26  1622556000
106  2021-06-01T15:00:00Z  526.62  1622559600
107  2021-06-01T16:00:00Z  343.09  1622563200

In [12]:
comb=pd.merge(true_irradiance, openweathermap, on="timestamp")
combined=pd.merge(comb, climacell, on="timestamp", how = 'left')
combined.drop(['sensor_id', 'deployment_id', 'datetime_y', 'startTime'],axis=1, inplace=True)
combined.dropna()
combined.rename(columns={'values': 'climacell', 'radiation':'openweathermap'}, inplace=True)
combined.to_csv('data.csv')
!cp data.csv "drive/My Drive/"
combined

                        gateway_id   timestamp  ... openweathermap  climacell
0   HELIOS_mapper-p2z7tix9jogx0yxl  1622178000  ...         169.51     143.41
1   HELIOS_mapper-p2z7tix9jogx0yxl  1622181600  ...         364.82     326.75
2   HELIOS_mapper-p2z7tix9jogx0yxl  1622185200  ...         561.58     514.78
3   HELIOS_mapper-p2z7tix9jogx0yxl  1622188800  ...         737.97     673.67
4   HELIOS_mapper-p2z7tix9jogx0yxl  1622192400  ...         877.38     811.22
5   HELIOS_mapper-p2z7tix9jogx0yxl  1622196000  ...         967.49     904.86
6   HELIOS_mapper-p2z7tix9jogx0yxl  1622199600  ...        1000.57     947.49
7   HELIOS_mapper-p2z7tix9jogx0yxl  1622203200  ...         973.80     931.39
8   HELIOS_mapper-p2z7tix9jogx0yxl  1622206800  ...         889.47     827.98
9   HELIOS_mapper-p2z7tix9jogx0yxl  1622210400  ...         754.82     701.82
10  HELIOS_mapper-p2z7tix9jogx0yxl  1622214000  ...         581.73     531.33
11  HELIOS_mapper-p2z7tix9jogx0yxl  1622217600  ...         386.35     329.70
12  HELIOS_mapper-p2z7tix9jogx0yxl  1622221200  ...         189.77     151.99
13  HELIOS_mapper-p2z7tix9jogx0yxl  1622224800  ...          26.57      24.69
14  HELIOS_mapper-p2z7tix9jogx0yxl  1622228400  ...           0.00       0.00
15  HELIOS_mapper-p2z7tix9jogx0yxl  1622232000  ...           0.00       0.00
16  HELIOS_mapper-p2z7tix9jogx0yxl  1622235600  ...           0.00       0.00
17  HELIOS_mapper-p2z7tix9jogx0yxl  1622239200  ...           0.00       0.00

[18 rows x 8 columns]

In [9]:
combined.corr(method='pearson')

                timestamp  meteo-J01  ...  openweathermap  climacell
timestamp        1.000000  -0.433843  ...       -0.585071  -0.574411
meteo-J01       -0.433843   1.000000  ...        0.981457   0.984085
meteo-J02       -0.400022   0.997692  ...        0.970727   0.972999
meteo-J04       -0.463756   0.998352  ...        0.987377   0.990218
openweathermap  -0.585071   0.981457  ...        1.000000   0.999457
climacell       -0.574411   0.984085  ...        0.999457   1.000000

[6 rows x 6 columns]

In [11]:
combined.corr(method='kendall')

                timestamp  meteo-J01  ...  openweathermap  climacell
timestamp        1.000000  -0.422463  ...       -0.420084  -0.420084
meteo-J01       -0.422463   1.000000  ...        0.976481   0.976481
meteo-J02       -0.367215   0.900682  ...        0.903136   0.903136
meteo-J04       -0.450980   0.976946  ...        0.980196   0.980196
openweathermap  -0.420084   0.976481  ...        1.000000   1.000000
climacell       -0.420084   0.976481  ...        1.000000   1.000000

[6 rows x 6 columns]

In [13]:
combined.corr(method='spearman')

                timestamp  meteo-J01  ...  openweathermap  climacell
timestamp        1.000000  -0.551190  ...       -0.573659  -0.573659
meteo-J01       -0.551190   1.000000  ...        0.994807   0.994807
meteo-J02       -0.505937   0.983964  ...        0.982886   0.982886
meteo-J04       -0.581011   0.995866  ...        0.994827   0.994827
openweathermap  -0.573659   0.994807  ...        1.000000   1.000000
climacell       -0.573659   0.994807  ...        1.000000   1.000000

[6 rows x 6 columns]